.scroll-wrap {
  -webkit-transition: .3s all ease-out;
  -o-transition: .3s all ease-out;
  transition: .3s all ease-out;
  bottom: 50px;
  opacity: 1;
  visibility: visible; }
  .scroll-wrap.sleep {
    bottom: 0;
    opacity: 0;
    visibility: hidden; }

.testimonial_v1 img {
  height: 80px; }

.testimonial_v1 .heading {
  color: #495057;
  font-size: 18px; }

.testimonial_v1 .subheading {
  color: rgba(0, 0, 0, 0.4); }

.testimonial_v1 blockquote {
  font-family: "Crimson Text", Georgia, "Times New Roman", Times, serif;
  line-height: 1.7;
  color: #495057; }

.testimonial_v1.pb_quote_v1 .media-body {
  position: relative;
  margin-top: 40px; }

.testimonial_v1.pb_quote_v1 .quote {
  font-size: 100px;
  font-family: "Crimson Text", Georgia, "Times New Roman", Times, serif;
  color: #adb5bd;
  line-height: 0;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.testimonial_v1.pb_quote_v2 .media-body {
  position: relative; }

.testimonial_v1.pb_quote_v2 .quote {
  font-size: 150px;
  font-family: "Crimson Text", Georgia, "Times New Roman", Times, serif;
  color: #dee2e6;
  line-height: 0;
  top: 40px;
  position: absolute;
  left: 0%;
  z-index: -1; }


.pb_slide_testimonial_sync_v1 .pb_slider_content .slick-slide {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 30px;
  line-height: 1; }
  .pb_slide_testimonial_sync_v1 .pb_slider_content .slick-slide blockquote {
    margin-bottom: 40px; }
  .pb_slide_testimonial_sync_v1 .pb_slider_content .slick-slide img {
    height: 170px; }
  .pb_slide_testimonial_sync_v1 .pb_slider_content .slick-slide .heading {
    font-size: 18px;
    margin-bottom: 0; }
  .pb_slide_testimonial_sync_v1 .pb_slider_content .slick-slide .subheading {
    font-size: 16px; }

.pb_slide_testimonial_sync_v1 .pb_slider_nav {
  width: 500px;
  margin: 0 auto; }
  .pb_slide_testimonial_sync_v1 .pb_slider_nav .author {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 10px;
    -webkit-transition: .3s all ease-in;
    -o-transition: .3s all ease-in;
    transition: .3s all ease-in; }
    .pb_slide_testimonial_sync_v1 .pb_slider_nav .author.slick-current {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }

.pb_pricing_v1 {
  margin-bottom: 50px; }
  .pb_pricing_v1 .price {
    font-size: 50px;
    color: #1d82ff; }
    .pb_pricing_v1 .price sup {
      font-size: 20px;
      top: -1em; }
    .pb_pricing_v1 .price span {
      font-size: 20px;
      color: #adb5bd; }

.pb_feature-v1,
.pb_feature-v2 {
  margin-bottom: 30px;
  /* circle with border */ }
  .pb_feature-v1 .pb_icon i,
  .pb_feature-v2 .pb_icon i {
    font-size: 70px; }
  .pb_feature-v1 .media-body,
  .pb_feature-v2 .media-body {
    font-family: "Crimson Text", Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    color: #868e96; }
    .pb_feature-v1 .media-body .heading,
    .pb_feature-v2 .media-body .heading {
      font-size: 20px;
      font-family: "Montserrat", Arial, sans-serif; }
  .pb_feature-v1.pb_feature-circle,
  .pb_feature-v2.pb_feature-circle {
    /* circle with background color */ }
    .pb_feature-v1.pb_feature-circle .pb_icon,
    .pb_feature-v2.pb_feature-circle .pb_icon {
      line-height: 0;
      border-radius: 50%;
      width: 80px;
      height: 80px;
      position: relative;
      border: 1px solid #dee2e6;
      margin-bottom: 30px; }
      .pb_feature-v1.pb_feature-circle .pb_icon i,
      .pb_feature-v2.pb_feature-circle .pb_icon i {
        line-height: 0;
        font-size: 45px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%); }
    .pb_feature-v1.pb_feature-circle.pb_feature-colored .pb_icon,
    .pb_feature-v2.pb_feature-circle.pb_feature-colored .pb_icon {
      border: none;
      background: #1d82ff; }
      .pb_feature-v1.pb_feature-circle.pb_feature-colored .pb_icon i,
      .pb_feature-v2.pb_feature-circle.pb_feature-colored .pb_icon i {
        color: #fff; }

.pb_feature-v2 .pb_icon {
  line-height: 0;
  position: relative;
  text-align: center; }
  .pb_feature-v2 .pb_icon i {
    font-size: 36px;
    margin: 0 auto; }


.pb_xl_py_cover {
  padding: 10em 0; }
  @media (max-width: 767px) {
    .pb_xl_py_cover {
      height: inherit;
      text-align: center !important;
      padding: 10em 0; } }
  .pb_xl_py_cover > .container {
    position: relative; }
    .pb_xl_py_cover > .container > .row {
      padding: 7em 0; }
      @media (max-width: 767px) {
        .pb_xl_py_cover > .container > .row {
          height: inherit;
          padding: 7em 0; } }

.pb_cover_v3,
.pb_cover_v4 {
  position: relative;
  height: 100vh; }
  @media (max-width: 767px) {
   
    .pb_cover_v3,
    .pb_cover_v4 {
      height: inherit;
      text-align: center !important;
      padding: 6em 0; } }
  .pb_cover_v3 > .container,
  .pb_cover_v4 > .container {
    position: relative; }
    .pb_cover_v3 > .container > .row,
    .pb_cover_v4 > .container > .row {
      height: 95vh; }
      @media (max-width: 767px) {
        .pb_cover_v3 > .container > .row,
        .pb_cover_v4 > .container > .row {
          height: inherit;
          padding: 6em 0; } }
  .pb_cover_v3 .play,
  .pb_cover_v4 .play {
    width: 80px;
    height: 80px;
    display: inline-block;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    color: white;
    -webkit-transition: .25s all ease-out;
    -o-transition: .25s all ease-out;
    transition: .25s all ease-out; }
    .pb_cover .play:hover,
    .pb_cover_v1 .play:hover,
    .pb_cover_v2 .play:hover,
    .pb_cover_v3 .play:hover,
    .pb_cover_v4 .play:hover {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      border: 2px solid white; }
    .pb_cover .play:active, .pb_cover .play:focus,
    .pb_cover_v1 .play:active,
    .pb_cover_v1 .play:focus,
    .pb_cover_v2 .play:active,
    .pb_cover_v2 .play:focus,
    .pb_cover_v3 .play:active,
    .pb_cover_v3 .play:focus,
    .pb_cover_v4 .play:active,
    .pb_cover_v4 .play:focus {
      outline: none; }
    .pb_cover .play i,
    .pb_cover_v1 .play i,
    .pb_cover_v2 .play i,
    .pb_cover_v3 .play i,
    .pb_cover_v4 .play i {
      font-size: 50px;
      position: absolute;
      top: 50%;
      left: 55%;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
  .pb_cover .heading,
  .pb_cover_v1 .heading,
  .pb_cover_v2 .heading,
  .pb_cover_v3 .heading,
  .pb_cover_v4 .heading {
    font-size: 62px;
    color: white;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 0px; }

    @media (max-width: 991px) {
      .pb_cover .heading,
      .pb_cover_v1 .heading,
      .pb_cover_v2 .heading,
      .pb_cover_v3 .heading,
      .pb_cover_v4 .heading {
        font-size: 32px; }}

    @media (max-width: 767px) {
      .pb_cover .heading,
      .pb_cover_v1 .heading,
      .pb_cover_v2 .heading,
      .pb_cover_v3 .heading,
      .pb_cover_v4 .heading {
        font-size: 42px; } }
  .pb_cover .sub-heading,
  .pb_cover_v1 .sub-heading,
  .pb_cover_v2 .sub-heading,
  .pb_cover_v3 .sub-heading,
  .pb_cover_v4 .sub-heading {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 600px;
    float: left; }
  .pb_cover.text-center .sub-heading,
  .pb_cover_v1.text-center .sub-heading,
  .pb_cover_v2.text-center .sub-heading,
  .pb_cover_v3.text-center .sub-heading,
  .pb_cover_v4.text-center .sub-heading {
    margin: 0 auto;
    float: none; }
  .pb_cover.text-right .sub-heading,
  .pb_cover_v1.text-right .sub-heading,
  .pb_cover_v2.text-right .sub-heading,
  .pb_cover_v3.text-right .sub-heading,
  .pb_cover_v4.text-right .sub-heading {
    float: right; }
  .pb_cover.text-left .sub-heading,
  .pb_cover_v1.text-left .sub-heading,
  .pb_cover_v2.text-left .sub-heading,
  .pb_cover_v3.text-left .sub-heading,
  .pb_cover_v4.text-left .sub-heading {
    float: left; }

.pb_cover_v3 .device-1 {
  margin-top: -40%;
  max-width: 400px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  @media (max-width: 991px) {
    .pb_cover_v3 .device-1 {
      max-width: 100%; } }
  @media (max-width: 767px) {
    .pb_cover_v3 .device-1 {
      max-width: 100%;
      position: relative;
      margin-top: 10%;
      margin-bottom: -100%; } }

.pb_cover_v3 .device-2 {
  position: absolute;
  max-width: 400px;
  left: 50%;
  margin-top: -25%; }
  @media (max-width: 991px) {
    .pb_cover_v3 .device-2 {
      max-width: 100%; } }
  @media (max-width: 767px) {
    .pb_cover_v3 .device-2 {
      max-width: 100%;
      position: absolute;
      margin-top: 30%;
      margin-bottom: -100%; } }

.pb_cover_v3 .device-3 {
  z-index: 3; }

.cover-bg-black,
.cover-bg-white,
.cover-bg-blue,
.cover-bg-indigo,
.cover-bg-purple,
.cover-bg-pink,
.cover-bg-red,
.cover-bg-orange,
.cover-bg-yellow,
.cover-bg-green,
.cover-bg-cyan {
  position: relative; }
  .cover-bg-black:before,
  .cover-bg-white:before,
  .cover-bg-blue:before,
  .cover-bg-indigo:before,
  .cover-bg-purple:before,
  .cover-bg-pink:before,
  .cover-bg-red:before,
  .cover-bg-orange:before,
  .cover-bg-yellow:before,
  .cover-bg-green:before,
  .cover-bg-cyan:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ""; }

.cover-bg-opacity:before {
  opacity: 1; }

.cover-bg-opacity-1:before {
  opacity: .1; }

.cover-bg-opacity-2:before {
  opacity: .2; }

.cover-bg-opacity-3:before {
  opacity: .3; }

.cover-bg-opacity-4:before {
  opacity: .4; }

.cover-bg-opacity-5:before {
  opacity: .5; }

.cover-bg-opacity-6:before {
  opacity: .6; }

.cover-bg-opacity-7:before {
  opacity: .7; }

.cover-bg-opacity-8:before {
  opacity: .8; }

.cover-bg-opacity-9:before {
  opacity: .9; }

.cover-bg-black:before {
  background: black; }

.cover-bg-white:before {
  background: white; }

.cover-bg-blue:before {
  background: #1d82ff; }

.cover-bg-indigo:before {
  background: #4e3188; }

.cover-bg-purple:before {
  background: #715cb0; }

.cover-bg-pink:before {
  background: #ff5b9c; }

.cover-bg-red:before {
  background: #ee0427; }

.cover-bg-orange:before {
  background: #ef6c35; }

.cover-bg-yellow:before {
  background: #ffd500; }

.cover-bg-green:before {
  background: #00ca4c; }

.cover-bg-cyan:before {
  background: #a5e9db; }

.pb_gradient_v1:before {
  /* background-image: url('../images/frota-png-1.png'); */
  /* background-size: contain;
  background-repeat: no-repeat; */
  background: #665fee;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); }

.pb_form_v1 {
  padding: 50px;
  -webkit-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75); }
  @media (max-width: 991px) {
    .pb_form_v1 {
      padding: 30px; } }

input, select, textarea {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7); }

.pb_select-wrap {
  position: relative; }
  .pb_select-wrap:before {
    font-family: 'Ionicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f3d0";
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 26px; }
  .pb_select-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

.form-control.reverse {
  background: #f2f2f2;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  border-color: #f2f2f2; }
  .form-control.reverse:focus, .form-control.reverse:active {
    background: none;
    border-color: #1d82ff !important; }

.form-control-outline {
  background: none; }
  .form-control-outline:focus, .form-control-outline:active {
    background: none; }
  .form-control-outline.light {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.4); }
    .form-control-outline.light:focus, .form-control-outline.light:active {
      border-color: white; }
    .form-control-outline.light::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .form-control-outline.light:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5); }
    .form-control-outline.light::placeholder {
      color: rgba(255, 255, 255, 0.5); }
  .form-control-outline.dark {
    color: #868e96; }

.btn:focus, .btn:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important; }

.btn-shadow-blue {
  -webkit-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
  -moz-box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45);
  box-shadow: 0px 15px 28px -5px rgba(29, 130, 255, 0.45); }

.pb_btn-pill {
  margin: 0 20px;
  border-radius: 50px;
  padding-left: 40px;
  padding-right: 40px; }

.pb_outline-light {
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  background: none;
  color: white; }
  .pb_outline-light:hover, .pb_outline-light:active, .pb_outline-light:focus {
    outline: none;
    background: #fff !important;
    border: 1px solid white;
    color: #000; }

.pb_outline-dark {
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  color: black;
  background: none; }
  .pb_outline-dark:hover, .pb_outline-dark:active, .pb_outline-dark:focus {
    outline: none;
    background: #000 !important;
    border: 1px solid black;
    color: #fff; }

#pb_loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000; }

#pb_loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#pb_loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#pb_loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#pb_loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

html {
  overflow-x: hidden;
  font-size: 1em; }

body {
  font-family: "Montserrat", Arial, sans-serif; }

input, textarea, p {
  font-weight: 300; }

::-moz-selection {
  background: #000;
  color: #fff; }

::selection {
  background: #000;
  color: #fff; }

::-moz-selection {
  background: #000;
  color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300 !important; }
  
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.bg_image, .pb_sm_py_cover,
.pb_md_py_cover,
.pb_lg_py_cover,
.pb_xl_py_cover, .pb_cover,
.pb_cover_v3,
.pb_cover_v4, .pb_slide_v2 .slide_content > .pb_content-media {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.with-overlay {
  position: relative; }
  .with-overlay:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(0, 0, 0, 0.4); }

.pb_navbar {
  position: absolute;
  background: #ffffff22;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  font-family: "Montserrat", Arial, sans-serif; }
  .pb_navbar .navbar-toggler:active, .pb_navbar .navbar-toggler:focus {
    outline: none; }
  .pb_navbar > .container {
    position: relative; }
  .pb_navbar .navbar-toggler {
    border: none;
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding-right: 0; }
    .pb_navbar .navbar-toggler i {
      font-size: 30px; }
  .pb_navbar ul > li > a {
    color: #212529 !important; }
    .pb_navbar ul > li > a.active {
      color: #212529 !important; }
  .pb_navbar ul > li.cta-btn > a > span {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5); }
  .pb_navbar .nav-link {
    font-size: 15px;
    padding-left: 1rem !important;
    padding-right: 1rem !important; }
    .pb_navbar ul li.cta-btn > a > span {
      border: none;
      background: #00CA4C;
      color: white; }
    @media (max-width: 1199px) {
      .pb_navbar .nav-link {
        padding-top: .5rem;
        padding-bottom: .5rem; } }
    @media (max-width: 991px) {
      .pb_navbar .nav-link {
        padding-left: 0rem !important;
        padding-right: 0rem !important; } }
    @media (max-width: 767px) {
      .pb_navbar .nav-link {
        padding-left: 0 !important;
        padding-right: 0 !important; } }
  @media (max-width: 991px) {
    .pb_navbar .navbar-nav {
      background: none;
      border-radius: 0px;
      padding-left: 1rem !important;
      padding-right: 1rem !important; } }
  .pb_navbar.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px; }
    @media (max-width: 991px) {
      .pb_navbar.scrolled .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important; } }
    @media (max-width: 767px) {
      .pb_navbar.scrolled .navbar-nav {
        background: none;
        padding-left: 0 !important;
        padding-right: 0 !important; } }
    .pb_navbar.scrolled .navbar-toggler {
      border: none;
      color: rgba(0, 0, 0, 0.5);
      border-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      padding-right: 0; }
    .pb_navbar.scrolled .nav-link {
      padding-top: .5rem;
      padding-bottom: .5rem; }
    .pb_navbar.scrolled.awake {
      margin-top: 0px;
      -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    .pb_navbar.scrolled.sleep {
      -webkit-transition: .3s all ease-out;
      -o-transition: .3s all ease-out;
      transition: .3s all ease-out; }
    .pb_navbar.scrolled.pb_scrolled-light {
      background: #fff !important;
      -webkit-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 1px 10px -2px rgba(0, 0, 0, 0.15); }
      .pb_navbar.scrolled.pb_scrolled-light .navbar-brand {
        color: #1d82ff; }
      @media (max-width: 991px) {
        .pb_navbar.scrolled.pb_scrolled-light .navbar-nav {
          background: none;
          border-radius: 0px;
          padding-left: 0rem !important;
          padding-right: 0rem !important; } }
      .pb_navbar.scrolled.pb_scrolled-light ul li a {
        color: #212529 !important; }
        .pb_navbar.scrolled.pb_scrolled-light ul li a:hover, .pb_navbar.scrolled.pb_scrolled-light ul li a:active, .pb_navbar.scrolled.pb_scrolled-light ul li a:focus {
          color: #868e96 !important; }
        .pb_navbar.scrolled.pb_scrolled-light ul li a.active {
          color: #1d82ff !important; }
      .pb_navbar.scrolled.pb_scrolled-light ul li.cta-btn > a > span {
        border: none;
        background: #00CA4C;
        color: #fff; }

.heading-border-top {
  position: relative;
  padding-top: 30px; }
  .heading-border-top:before {
    position: absolute;
    top: 0;
    height: 2px;
    width: 50px;
    content: "";
    background: #1d82ff; }
  .heading-border-top.light:before {
    background: rgba(255, 255, 255, 0.7) !important; }

.text-center .heading-border-top:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.text-center .heading-border-top.light:before {
  background: rgba(255, 255, 255, 0.7) !important; }

.pb_section {
  padding: 9em 0;
  position: relative;
  display: block; }
  
  
  .heading.mb-5#form_title{
    font-size: 35px;
  } 
    
  .pb_section.pb_bg-half:before {
    top: 50%;
    content: "";
    background: #f8f9fa;
    bottom: 0%;
    width: 100%;
    left: 0;
    position: absolute; }

@media (max-width: 767px) {
  .pb_testimonial_v1 .media {
    display: block !important; } }

.pb_testimonial_v1 .media img {
  max-width: 200px; }
  @media (max-width: 767px) {
    .pb_testimonial_v1 .media img {
      margin: 0 auto 20px auto !important; } }

@media (max-width: 767px) {
  .pb_testimonial_v1 .media .media-body {
    width: 100%;
    text-align: center; } }

.pb_testimonial_v1 .media blockquote {
  font-style: italic; }
  .pb_testimonial_v1 .media blockquote p {
    color: #212529;
    font-size: 18px; }
    .pb_testimonial_v1 .media blockquote p cite {
      display: block;
      font-size: 1rem;
      font-style: normal; }
    .pb_testimonial_v1 .media blockquote p.pb_author {
      font-style: normal;
      color: #868e96; }

.pb_footer {
  
  padding: 10em 0; }
  .pb_footer .list-unstyled li {
    margin-bottom: 10px;
    line-height: 1.5; }
  .pb_footer.bg-black {
    background: #000; }

.pb_accordion .item > a {
  display: block;
  border-bottom: 1px solid #e9ecef;
  padding: 10px 0;
  position: relative;
  color: #495057; }
  .pb_accordion .item > a:after {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Ionicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f2c7"; }
  .pb_accordion .item > a[aria-expanded="true"] {
    color: #1d82ff;
    border-bottom: 1px solid transparent; }
    .pb_accordion .item > a[aria-expanded="true"]:after {
      content: "\f2f4"; }

.pb_accordion .item > div *:last-child {
  margin-bottom: 0; }

.overflow-hidden {
  overflow: hidden; }

a.nav-link#whats_link{
  border-right: 0.2px solid #cccccc;
}

div.pb_icon img{
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

div#background_img{
  background-image: url('../images/back01.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
}

small.front_price{
  font-size: 15px;
  color: #adb5bd;
}

@media(max-width:991px){
  div#background_img{
    background-image: none;
  }
}

img.contact_icon{
  width: 25px;
  height: 25px;
  margin-right: 15px;
  text-decoration: none;
}

@media(max-width:440px){
  img.contact_icon{
    display: none;
  }
}

footer{
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
}

footer#footer_login{
  background: none;
}